#templatemo_content_right div.box{
width:500px;
background:#222222;
border:1px solid #262626;
color: #fff;
}
#templatemo_content_right div.box h1 { 
color:#ffffff;
font-size:18px;
text-transform:uppercase;
padding:5px 0 5px 5px;
border-bottom:1px solid #161712;
border-top:1px solid #161712; 
}
#templatemo_content_right div.box label {
width:100%;
display: block;
background:#1C1C1C;
border-top:1px solid #262626;
border-bottom:1px solid #161712;
padding:10px 0 10px 0;
}
#templatemo_content_right div.box label span {
display: block;
color:#bbbbbb;
font-size:12px;
float:left;
width:100px;
text-align:right;
padding:5px 20px 0 0;
}
#templatemo_content_right div.box .input_text,div#checkout .input_text {
color: #fff;
padding:10px 10px;
width:200px;
background:#262626;
border-bottom: 1px double #171717;
border-top: 1px double #171717;
border-left:1px double #333333;
border-right:1px double #333333;
}
#templatemo_content_right div.box .message,div#checkout .message{
padding:7px 7px;
width:350px;
background:#262626;
border-bottom: 1px double #171717;
border-top: 1px double #171717;
border-left:1px double #333333;
border-right:1px double #333333;
overflow:hidden;
height:150px;
color: #fff;
}
#templatemo_content_right div.box .button
{
margin:0 0 10px 0;
padding:4px 7px;
background: url(images/templatemo_h1_bg.jpg) no-repeat;
border:0px;
position: relative;
top:10px;
left:382px;
width:100px;
color: #CBC750;
font-size: bolder;
font-size: 1.0em;
}