/* -------------------------------------------------------

	Description: CSS3 + jQuery Search Form
	Version: 1.0
	Author: Anli Zaimi
	Author URI: http://azmind.com

------------------------------------------------------- */
.form-container {
	width: 180px;
	padding: 0;
	overflow: hidden;
	text-align: left;
	background: #f8f8f8;
	border: 1px solid #553619;
	border-radius: 8px;
	background-color: #553618;
	box-shadow: 0 4px 0 #553618, 0 6px 8px #553618;
}

.search-field {
	float: left;
	width: 125px;
	height: 30px;
	margin: 6px 0 0 8px;
	padding: 0 8px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	color: #FFF;
	font-style: italic;
	font-weight: 400;
	background-color: #000;
	border: 1px solid #ccc;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px; 
	border-radius: 8px;
	-moz-box-shadow: 0 1px 1px #e2e2e2 inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #e2e2e2 inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #e2e2e2 inset, 0 1px 0 #fff;
}
.submit-container {
	float: left;
	width: 40px;
	height: 25px;
	margin: 7px 0 0 3px;
	padding: 0;
	cursor: pointer;
	background: #e63c0d;
	border: 1px solid #d62700;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px; 
	border-radius: 6px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f55f15), to(#e63c0d));
	background-image: -webkit-linear-gradient(top, #f55f15, #e63c0d);
	background-image: -moz-linear-gradient(top, #f55f15, #e63c0d);
	background-image: -ms-linear-gradient(top, #f55f15, #e63c0d);
	background-image: -o-linear-gradient(top, #f55f15, #e63c0d);
	background-image: linear-gradient(top, #f55f15, #e63c0d);
	-moz-box-shadow: 0 1px 1px #fa8e1f inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #fa8e1f inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #fa8e1f inset, 0 1px 0 #fff;
}

.submit-container:hover, .submit-container:focus {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e63c0d), to(#f55f15));
	background-image: -webkit-linear-gradient(top, #e63c0d, #f55f15);
	background-image: -moz-linear-gradient(top, #e63c0d, #f55f15);
	background-image: -ms-linear-gradient(top, #e63c0d, #f55f15);
	background-image: -o-linear-gradient(top, #e63c0d, #f55f15);
	background-image: linear-gradient(top, #e63c0d, #f55f15);
	-moz-box-shadow: 0 1px 1px #f36215 inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #f36215 inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #f36215 inset, 0 1px 0 #fff;
}

.submit-container:active {
	outline: 0;
	-moz-box-shadow: 0 1px 6px #e4340b inset;
	-webkit-box-shadow: 0 1px 6px #e4340b inset;
	box-shadow: 0 1px 6px #e4340b inset;
}

.submit {
	float: left;
	width: 40px;
	height: 25px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: 0px solid #000;
	background: url(images/magnifier.png) 10px 3px no-repeat;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px; 
	border-radius: 6px;
}



