body {
	margin-top: 20px;
	padding: 0;
	line-height: 1.5em;
	font-family: Verdana, Arial, san-serif;
	font-size: 11px;
	color: #ffffff;
	background: #4b4743 url(images/woodenbg1.jpg) no-repeat;
	background-size: 100% 100%;
}
a:link, a:visited { color: #e6e154; text-decoration: none; font-weight: bold;} 
a:active, a:hover { color: #e6e154; text-decoration: underline;}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}


.cleaner {
	clear: both;
	width: 100%;
	height: 1px;
	font-size: 1px;	
}

.cleaner_with_height {
	clear: both;
	width: 100%;
	height: 30px;
	font-size: 1px;	
}

.cleaner_with_width {
	float: left;
	width: 20px;
	height: 30px;
	font-size: 1px;	
}

.buy_now_button a{
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #24201b));
        background:-moz-linear-gradient(top, #7d5d3b 5%, #24201b 100%);
        background:-webkit-linear-gradient(top, #7d5d3b 5%, #24201b 100%);
        background:-o-linear-gradient(top, #7d5d3b 5%, #24201b 100%);
        background:-ms-linear-gradient(top, #7d5d3b 5%, #24201b 100%);
        background:linear-gradient(to bottom, #7d5d3b 5%, #24201b 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#24201b',GradientType=0);
        
        background-color:#7d5d3b;
        
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
        
        border:1px solid #FFF;
        
        display:inline-block;
        color:#e5ff1c;
        font-family:arial;
        font-size:14px;
        font-weight:bold;
        padding:8px 16px;
        text-decoration:none;
}
.buy_now_button a:hover {
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #24201b), color-stop(1, #7d5d3b));
    background:-moz-linear-gradient(top, #24201b 5%, #7d5d3b 100%);
    background:-webkit-linear-gradient(top, #24201b 5%, #7d5d3b 100%);
    background:-o-linear-gradient(top, #24201b 5%, #7d5d3b 100%);
    background:-ms-linear-gradient(top, #24201b 5%, #7d5d3b 100%);
    background:linear-gradient(to bottom, #24201b 5%, #7d5d3b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#24201b', endColorstr='#7d5d3b',GradientType=0);
    
    background-color:#24201b;
}
.buy_now_button a:active {
    position:relative;
    top:1px;
}

.detail_button a{
		margin-top: 4px;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e));
        background:-moz-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
        background:-webkit-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
        background:-o-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
        background:-ms-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
        background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e',GradientType=0);
        
        background-color:#f0c911;
        
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        border-radius:8px;
        
        border:1px solid #000;
        
        display:inline-block;
        color:#c92200;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 21px;
        text-decoration:none;
}
.detail_button a:hover {
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911));
    background:-moz-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
    background:-webkit-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
    background:-o-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
    background:-ms-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
    background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911',GradientType=0);
    
    background-color:#f2ab1e;
}
.detail_button a:active {
    position:relative;
    top:1px;
}
#templatemo_container{
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	background: #1c1c1b url(images/templatemo_bg.jpg) repeat-y;
}

/* menu */

#templatemo_menu {
	clear: both;
	width: 960px;
	height: 45px;
	background: url(images/templatemo_menu_bg.jpg) no-repeat;
}

#templatemo_menu ul {
	padding: 13px 0 0 0;
	margin: 0;
	list-style: none;
}

#templatemo_menu ul li{
	display: inline;
}

#templatemo_menu ul li a{
	float: left;
	padding: 0 20px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #969547;
}

#templatemo_menu li a:hover, #templatemo_menu li .current{
	color: #fcf88e;
}

/* end of menu*/

/* header */
#templatemo_header {
	clear: both;
	width: 960px;
	height: 285px;
	padding: 0;
	margin: 0;
	background: url(images/templatemo_header_bg1.jpg) no-repeat;
}

#templatemo_header a,a:hover {
	color: #ffffff;
}

#templatemo_header #templatemo_special_offers {
	float: left;
	font-size: 14px;	
	margin-top: 45px;
	margin-left: 490px;
	width: 180px;
	height: 140px;
	word-wrap: break-word;
}

#templatemo_special_offers a {
	font-size: 12px;
}

#templatemo_special_offers  p {
	margin: 0 0 8px;
}
#templatemo_special_offers p span {
	font-size: 18px;
}

#templatemo_header #templatemo_new_books {
	float: left;
	margin-top: 35px;	
	margin-left: 55px;
	width: 180px;
}
#viewcart p{
	padding-top: 10px;
	font-size: 1.3em;
}
#crop{
	width:145px;
	overflow:hidden;
	height:65px;
	line-height:22px;
}
/* end of header */


/* content */
#templatemo_content {
	clear: both;
	width: 920px;
	padding: 0 20px;
}

#templatemo_content #templatemo_content_left {
	float: left;
	width: 188px;
	padding: 10px;
	background-color: #171716;
	border: 3px solid #553919;
	border-radius: 5px;
}

#templatemo_content #templatemo_content_right {
	float: right;
	width: 670px;
}


#templatemo_content_left .templatemo_content_left_section{
	clear: both;
	padding-bottom: 10px;
	border-bottom: 1px solid #2b2b2a;
	margin-bottom: 20px;
}
.templatemo_content_left_section h1 {
	font-size: 18px;
	color: #cbc750;
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px dotted #cbc750;
}

.templatemo_content_left_section ul {
	padding: 0;
	margin: 0;
}

.templatemo_content_left_section ul li{
	padding: 0 0 3px 10px;	
	list-style: none;
}
.templatemo_content_left_section ul li:hover {
	padding: 0 0 3px 15px;	
	font-weight: bold;
	list-style: square;
}

.templatemo_content_left_section ul li a{
	font-weight: normal;
	text-decoration: none;
	color: #969547;
	font-size: 1.4em;
}

.templatemo_content_left_section li a:hover, .templatemo_content_left_section li .current{
	color: #fcf88e;
}

#templatemo_content_right
{
	font-size: 1.1em;
}
#templatemo_content_right .templatemo_product_box {
	float: left;
	width: 303px;
	height: 240px;
	padding: 7px;
	border: 3px solid #CC9933;
	border-radius: 5px;
	/*background-color: #663311;*/
	background: url(images/book_bg.png);
}

#templatemo_content_right h1 {
	padding: 10px;
	margin: 0 0 10px 0;
	font-size: 1.2em;
	color: #cbc750;
	background: url(images/templatemo_h1_bg.jpg) no-repeat;
	background-size: 100% 100%;

}

#templatemo_content_right h2 {
	padding: 0 0 0 0;
	margin: 0 0 20px 0;
	font-size: 1.1em;
	color: #e6e154;
}

#templatemo_content_right h3 {
	padding: 0;
	margin: 0 0 25px 0;
	font-size: 18px;
	color: #00FF00;
}
#templatemo_content_right .product_info h3{
	margin: 0 0 4px 0;
}
#templatemo_content_right ul {
	margin: 0 0 20px 0;
	padding: 0 0 0 20px;
	list-style: none;
}

#templatemo_content_right li {
	padding: 0 0 3px 0;
}

#templatemo_content_right .image_panel {
	float: left;
	width: 100px;
	margin-right: 20px;
}

#templatemo_content_right p {
	/*text-align: justify;*/
	padding: 0 0 8px 0;
}
#templatemo_content_right #pagedivide ul li a{
	text-decoration: none;
}
#templatemo_content_right #pagedivide ul li{
	display: inline-block;
	margin:  -35px 0px 10px 0px;
	width: 30px;
	margin-left: 10px;
	border: 3px solid #40362a;
	padding: 5px;
	border-radius: 5px;
	background-size: 100% 100%;
	background: url(images/templatemo_h1_bg.jpg) no-repeat;
	text-align: center;
}
#templatemo_content_right #pagedivide ul li:hover {
	border: 3px solid #333300; 
}
.templatemo_product_box h1 span {
	font-weight: normal;
}

.templatemo_product_box img {
	float: left;
	margin-right: 15px;
	border: 1px solid yellow;
	border-radius: 3px;
}

.templatemo_product_box .product_info {
	float: left;
	width: 180px;
	text-align: left;
}

.product_info p {
	margin-bottom: 5px;
}

/* end of content */

/* footer */
#templatemo_footer {
	clear: both;
	width: 960px;
	padding: 20px 0px 20px 0;
	text-align: center;
	border-top: 1px solid #25211e;
	color: #999;
	background-color: #111110;
}

#templatemo_footer a{
	color: #fff;
	font-weight: normal;
}
/* end of footer */

/*Phan mo rong cua toi */
#buy img{
	width: 120px;
	height: 35px;
	margin-bottom: 15px;
}
#buy img:hover{
	border: 1px #40362a solid;
}
#total{
	margin: 3px 0px -20px 0px;
	width: 650px;
}
#total #update{
	border: none;
	width: 120px; height: 35px;
	background: url(images/updatecart.png) no-repeat 0px 0px;
	background-size: 120px 35px;
}
#total #update:hover{
	border: 1px #40362a solid;
}
#total span{
	font-size: 1.1em;
	font-weight: bold;
	padding: 10px 15px 12px 10px;
	background: url(images/templatemo_h1_bg.jpg) no-repeat;
	background-size: 98% 100%;
	float: right;
	/*color: #0ff9db;*/
	color: #cbc750;
}
.templatemo_content_left_section #highlight a {
	padding: 0 0 3px 10px;	
	font-weight: bold;
	color: rgb(252, 248, 142);
	background: url(images/currCate.png) no-repeat -5px 2px;
	background-size: 15px 15px;
}
input #qty{
	border: none;
	background-color: #223377;
	color: #fff;
	font-size: 1.1em;
	text-align: center
}